/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: oldlace;   
    font-family: 'Montserrat', sans-serif;  
    font-size: 18px;
    color: black;
    line-height: 1.4;

    box-sizing: border-box;
}

h1, h2, h3{ font-size: 40px;
    font-family: 'Antic Didone', serif;
    color: rosybrown;
   }


img { 
    max-width: 100%;
}


/* -------------------- HEADINGS AND TYPE */

h1 { font-size: 40px;
     color: rosybrown;
    }
h2 { font-size: 32px;
    color: rosybrown
    ;}
h3 { font-size: 24px;
    color: rosybrown
    ;}



/* -------------------- LAYOUTS */

.content { 
    text-align: center;
  
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;


    padding-left: 3%;
    padding-right: 3%;
}



/* -------------------- HEADER */

header {
    background-color: thistle;
    font-family: 'Antic Didone', serif;
    padding-top: 70px;
    padding-bottom: 40px;;

}
.header-heading{
    font-family: 'Antic Didone', serif;
    font-size: 80px;
}

.header-sub-heading{
    font-family: 'Antic Didone', serif;
    font-size: 50px;
}

header p {
    colour: white;
}
/* -------------------- NAVIGATION */


/* -------------------- FOOTER */

footer {
    background-color: thistle;
    font-family: 'Antic Didone', serif;
    padding-top: 70px;
    padding-bottom: 40px;
}



/* -------------------- MODULES */

.news-component {
    border-width: 1px;
    border-style: groove;
    border-color: peru;

    padding: 3%;
}

.news-component-offset{
    background-color:
}












';.'
